<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DeepFakeAudio Detection in Python</title>
</head>
<body>
<div id = "detectionContainer">
    <h1> Upload mp3 for detection </h1>
    <form method="post", enctype="multipart/form-data">
        <input type="file", name="file">
        <br>
        <input type="submit", value="Analyze">
    </form>
</body>
</html>
